# URL pública de tu base de datos remota
NEXT_PUBLIC_SUPABASE_URL=https://czfmlczpzurrjfbwghmy.supabase.co

# Llave anónima pública segura para utilizar en componentes del frontend
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6Zm1sY3pwenVycmpmYndnaG15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NTQ4MzEsImV4cCI6MjA5NTAzMDgzMX0.RxTRfM9FWEfi-W-8fV1kHkzNtqoXTN0g-Jgh23_WEWY

# Llave maestra service_role. !NUNCA la expongas con NEXT_PUBLIC_!
SUPABASE_SERVICE_ROLE_KEY=

# Modelo predeterminado de OpenAI
OPENAI_MODEL=gpt-4o-mini