# Variables de entorno secretas (locales)
.env*.local
.env

# Dependencias de Node.js
node_modules/
.next/
out/
build/

# Logs de sistema y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.docusaurus/
.DS_Store
Thumbs.db